:root {
    --white: #FCF7FF;
    --white-text:  #FFFADE;
    --input: D7C4FB;
    --light-purple: #F5E1FF;
    --hover-light-purple: #ECD9FF;
    --purple: #4B3E6B;
    --dark-purple: #221841;
    --black: #1D143C;
}